.gcloudignore
.git
.gitignore
venv/
env/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.cursorrules
analyze_output.txt
analyze_output2.txt
node_modules/
